<?xml version="1.0"?>
<?xml-stylesheet type='text/xsl' href='interface.xsl'?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface">
	<name>piep</name>
	<summary>unix-style stream manipulation with python's syntax</summary>
	<publish xmlns="http://gfxmonk.net/dist/0install" mode="featured"/>
	<feed-for interface="http://gfxmonk.net/dist/0install/piep.xml"/>
	<description>
piep
====

Bringing the power of python to stream editing
----------------------------------------------

| Zero install feed:
| http://gfxmonk.net/dist/0install/piep.xml
|
| Online documentation:
| http://gfxmonk.net/dist/doc/piep/
|
| Source Code / Issues:
| https://github.com/gfxmonk/piep/
|
| Cheese shop entry:
| http://pypi.python.org/pypi/piep

HACKING
-------

Please add tests for any new functionality.

Run the tests with ``make test``. If you don't want to do it that way (perhaps you don't
have make or zero-install), it's basically ``nosetests --with-doctest --exe``, once you've
made sure your local version of ``piep`` is on ``$PYTHONPATH``.
	</description>
	<homepage>http://gfxmonk.net/dist/doc/piep/</homepage>
	<rich-description xmlns="http://gfxmonk.net/dist/0install">
		<div xmlns="http://www.w3.org/1999/xhtml">
			<h1 id="piep">piep</h1>
			<h2 id="bringing-the-power-of-python-to-stream-editing">Bringing the power of python to stream editing</h2>
			<p>Zero install feed:<br/><a href="http://gfxmonk.net/dist/0install/piep.xml">http://gfxmonk.net/dist/0install/piep.xml</a></p>
			<p>Online documentation:<br/><a href="http://gfxmonk.net/dist/doc/piep/">http://gfxmonk.net/dist/doc/piep/</a></p>
			<p>Source Code / Issues:<br/><a href="https://github.com/gfxmonk/piep/">https://github.com/gfxmonk/piep/</a></p>
			<p>Cheese shop entry:<br/><a href="http://pypi.python.org/pypi/piep">http://pypi.python.org/pypi/piep</a></p>
			<h2 id="hacking">HACKING</h2>
			<p>Please add tests for any new functionality.</p>
			<p>Run the tests with <code>make test</code>. If you don't want to do it that way (perhaps you don't have make or zero-install), it's basically <code>nosetests --with-doctest --exe</code>, once you've made sure your local version of <code>piep</code> is on <code>$PYTHONPATH</code>.</p>
		</div>
	</rich-description>
	<group main="piep/main.py">
		<needs-terminal/>
		<command name="run" path="piep/main.py">
			<runner interface="http://repo.roscidus.com/python/python"/>
		</command>
		<command name="doc">
			<runner command="build" interface="http://gfxmonk.net/dist/0install/sphinx.xml"/>
			<arg>-b</arg>
			<arg>html</arg>
		</command>
		<requires interface="http://repo.roscidus.com/python/python">
			<version not-before="2.6"/>
			<version before="3"/>
		</requires>
		<requires importance="recommended" interface="http://gfxmonk.net/dist/0install/pygments.xml"/>
		<command name="repl">
			<runner interface="http://gfxmonk.net/dist/0install/ipython.xml"/>
		</command>
		<command name="test">
			<runner command="run-py2" interface="http://gfxmonk.net/dist/0install/nosetests-runner.xml"/>
			<arg>--with-doctest</arg>
			<arg>--exe</arg>
			<arg>-v</arg>
		</command>
		<environment insert="" mode="prepend" name="PYTHONPATH"/>
		<implementation version="{version}">
			<manifest-digest/>
			<archive href="{archive}"/>
		</implementation>
	</group>
</interface>
